{% extends 'layout/layoutPage.html.twig' %}

{% block accueil %}
    <h1> Bienvenue utilisateur inconnu ! </h1>
{% endblock %}

{% block menu %}
    {% set urlCreateAccount = path('createAccount') %}
    {% set urlAuthentification = path('authentification') %}

    <ul>
        <li><a href="{{ urlCreateAccount }}"> Créer un compte </a></li>
        <li><a href="{{ urlAuthentification }}">S'authentifier</a></li>
    </ul>
{% endblock %}